<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <title>navbar</title>
    <style>
      .no-underline { text-decoration: none; }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="gambar/logo.png" alt="" width="50" height="40" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <ul
            class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-sm-between d-flex w-100"
          >
            <div class="d-flex">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/add-project">add Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/testimonials">Testimonials</a>
              </li>
            </div>
            <div class="d-flex">
              <li class="btn btn-light nav-item ms-auto">
                <a class="no-underline" href="/contact">contact</a>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </nav>
    <div
      class="collapse navbar-collapse bg-gradient pt-2 pb-1 d-lg-none"
      id="navbarSupportedContent"
      style="
        position: absolute;
        z-index: 10;
        right: 0;
        left: 0;
        background-color: rgb(65, 64, 64);
      "
    >
      <ul class="d-block w-100 text-center list-unstyled">
        <li class="nav-item w-100 pt-2 pb-2">
          <a class="nav-link active text-light" href="/">Home</a>
        </li>
        <li class="nav-item w-100 pt-2 pb-2">
          <a class="nav-link text-light" href="/add-project">add Project</a>
        </li>
        <li class="nav-item w-100 pt-2 pb-2">
          <a class="nav-link text-light" href="/testimonials">Testimonials</a>
        </li>
        <li class="btn-light nav-item ms-auto w-100 pt-3 pb-3">
          <a class="no-underline" href="/contact">contact</a>
        </li>
      </ul>
    </div>

    <div class="container mt-4">
      <h1 class="text-center">Dumways Web App</h1>
      <div class="container-fluid d-lg-flex gap-3 mt-5">
        <div class="img-fluid d-lg-none d-block">
          <img
            src="./gambar/project.png"
            class="img-fluid"
            style="width: 100%; object-fit: contain"
            alt="detail"
          />
        </div>
        <div style="width: 60%" class="d-lg-block d-none">
          <img
            src="./gambar/project.png"
            class="img-fluid"
            style="width: 100%; object-fit: contain"
            alt="detail"
          />
        </div>
        <div style="width: 100%" class="d-flex flex-column d-lg-none d-block">
          <!-- versi mobile -->
          <div class="mb-4 mt-4 w-100">
            <h5 class="mb-4">Duration</h5>
            <div class="d-flex gap-2 flex-column">
              <div class="d-flex gap-2 w-100">
                <i class="fa-solid fa-calendar mt-1"></i>
                <p class="w-100">10 agustus 2023 - 26 desember 2023</p>
              </div>
              <div class="d-flex gap-2">
                <i class="fa-solid fa-clock mt-1"></i>
                <p>4 month</p>
              </div>
            </div>
          </div>

          <div>
            <h5 class="mb-4">Technologies</h5>
            <div
              style="
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto auto;
              "
            >
              <div style="display: flex; gap: 10px">
                <i class="fa-brands fa-react"></i>
                <p>React Js</p>
              </div>
            </div>
          </div>
        </div>
        <!-- versi desktop -->
        <div style="width: 40%" class="d-flex flex-column d-lg-block d-none">
          <div class="mb-4">
            <h5 class="mb-4">Duration</h5>
            <div class="d-flex gap-2 flex-column">
              <div class="d-flex gap-2">
                <i class="fa-solid fa-calendar mt-1"></i>
                <p>10 agustus 2023 - 26 desember 2023</p>
              </div>
              <div class="d-flex gap-2">
                <i class="fa-solid fa-clock mt-1"></i>
                <p>4 month</p>
              </div>
            </div>
          </div>
          <div>
            <h5 class="mb-4">Technologies</h5>
            <div
              style="
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto auto;
              "
            >
              <div style="display: flex; gap: 10px">
                <i class="fa-brands fa-react"></i>
                <p>React Js</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="text-align: justify; margin-right: 10px" class="mt-5">
        <p style="font-size: 16px; letter-spacing: 0.5px; font-weight: 300">
          <span style="padding-left: 12px">Lorem</span>
          ipsum dolor sit, amet consectetur adipisicing elit. Ea quisquam rem
          soluta veniam porro, autem aspernatur voluptatum perferendis error
          suscipit cum labore optio voluptate harum voluptatibus? Quisquam
          nostrum temporibus fuga, deleniti nemo voluptate totam minus
          repudiandae ab. Quis quae eum doloremque non provident vero ipsam
          laudantium odit aliquam culpa rerum repellat cupiditate sed labore
          commodi impedit quisquam, repudiandae molestias, tempore hic dolores
          consectetur fugiat veniam totam. Amet sed eveniet vitae, maxime
          cupiditate exercitationem officiis deleniti nihil ipsum nam asperiores
          pariatur odit quod voluptates, deserunt quas qui, mollitia omnis eius
          ipsam rerum. Inventore aliquid facilis totam. Tempora optio mollitia
          minima qui eveniet expedita dolore harum hic, quaerat ullam iusto sit?
          Corporis vel mollitia numquam id officia, non pariatur necessitatibus
          distinctio similique aliquid voluptate sit dolorum commodi odio veniam
          nesciunt exercitationem velit quo molestias perferendis hic dolore
          error, repudiandae minima? Animi itaque quod laborum eum sapiente
          totam repellat, provident ad, perspiciatis quo, consectetur non minima
          unde deleniti accusantium delectus? Blanditiis voluptas rem reiciendis
          veniam, ad eligendi officiis similique. Modi totam officiis voluptates
          consequatur? Dolores dolor et totam aspernatur rerum officia quam
          dolore, aliquid sapiente, adipisci quae laborum obcaecati ullam nisi
          inventore, repellendus perspiciatis corrupti pariatur facere nostrum
          recusandae tempore debitis. Totam saepe eligendi repudiandae optio
          nostrum odit eum, eius nisi harum esse facere placeat animi autem
          perferendis, sit quibusdam doloribus quisquam vero voluptate? Sapiente
          doloremque debitis voluptatibus nemo ipsa ipsum nesciunt nam fuga iste
          tempora dolorem corrupti molestiae veritatis, quis consectetur
          necessitatibus quia consequuntur odit nihil excepturi ea. Dolorem
          dolor minima sed fugiat ullam obcaecati rerum modi deleniti, excepturi
          sunt et delectus neque porro aperiam numquam. Tempora, dolor. Magnam
          quia ipsa magni aperiam saepe. Suscipit expedita nostrum tenetur,
          dolorem quidem quos, consequatur amet molestias eum, tempora ipsa hic
          inventore laudantium temporibus quia accusamus veritatis ex quaerat
          dicta perspiciatis harum maiores id sint! Reiciendis inventore maxime
          perferendis, eos, molestiae laboriosam, voluptates illo debitis dicta
          et ab soluta! Aperiam suscipit dignissimos quidem ut nostrum? Repellat
          itaque ea nesciunt ducimus, rerum optio possimus voluptas
          perspiciatis. Tempore tempora dicta fugiat repellat! Neque quasi nam
          soluta dignissimos nesciunt ipsa recusandae magnam dolor, excepturi
          obcaecati nostrum, temporibus, consequuntur a quidem! Ipsum quidem
          corrupti delectus odit perspiciatis blanditiis fugiat quo aspernatur
        </p>
      </div>
    </div>
  </body>
</html>